*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f2eaea;

}
.container{
    position: relative;
    height: 550px;
    width: 800px;
    border: 2px solid #9f9898;
    background-color: #191919;
    border-radius: 44px;
    box-shadow: 4px 5px -4px black, -4px -5px 10px -2px #949191;
}
.screen{
    background-color: #ffffff;
    border-radius: 11px;
    overflow: hidden;
    position: absolute;
    inset: 24px;

}
.buttons{
    height: 330px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    background-image: linear-gradient(rgba(255,70,245,0.5), rgba(0,210,245,0.7));
    transform: translateY(-45%);
    top: 45%;
    left: 17px;
    border-radius: 40px;
}
span,button{
    padding: 10px 13px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fff;
    border-radius: 45px;
    color: #605d5d;
    cursor: pointer;
    
}
span{
    padding: 11px;
}
input[type="color"]{
    height: 43px;
    width: 43px;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 50%;
}

